<%- include("partials/header")%>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi in, modi iusto fuga at itaque harum nemo consectetur nihil, debitis sapiente esse maiores inventore, est nostrum quaerat iure non quo quos. Vitae facilis atque quis vero labore laudantium accusamus beatae fuga explicabo quam, esse voluptas laboriosam voluptatem excepturi suscipit. Sapiente, dolorum. Quod maiores numquam doloribus possimus voluptatem, itaque rem voluptas odit consequuntur illum! Perferendis, autem dolorem vel iusto ipsam animi doloribus eum earum culpa dolor ducimus aperiam sed consequuntur. Aspernatur quo rem ipsa ut. Voluptatum ipsam, aliquid earum atque nam dolorem inventore consequuntur perferendis, nostrum placeat aperiam recusandae sed? Perferendis.</p>
<h5><%=title%></h5>
<%- include("partials/footer")%>